<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link id="favicon" rel="icon" type="image/x-icon" href="static/icon.ico">
    <!-- <script src="./static/index.js" type="text/javascript"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app"></div>

</body>

<script>
    let test_ip = "http://127.0.0.1:8000/things/"
    async function get_things(endpoint){
        let response = await fetch(endpoint, {
            method: "GET"
        })
        .then(res => {
            if(res.ok){
                console.log("SUCCESS")
                return res.json()
            }else{
                console.error("[ERROR] something is not working")
            }
        })
        .then(data => console.log(data))
        
        // let data = await response.json();
        // return data;
    }


    async function update_things(endpoint, thing_name, new_pin){
        let response = await fetch(endpoint, {
            method: "PUT",
            body: JSON.stringify({
                
            })
        })
    }

    async function create_thing(){
        return null;
    }

    async function remove_thing(){
        return null;
    }

    async function update_status(){
        return null;
    }

    

    function build_html(){
        let things = get_things(test_ip)
        console.log("build fuc" + things.finally)
        document.getElementById("app").innerHTML = 
        `
        ${things.length}
        `

    }

    console.log(get_things(test_ip))
    // build_html()

</script>

</html>