<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link id="favicon" rel="icon" type="image/x-icon" href="static/images/icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Things {{ x }}</h1>
    <p id="things"></p>
</body>

<script>

    async function get_things(endpoint){
        let responce = await fetch(endpoint);
        let data = await responce.json();
        return data;
    }

    

    console.log(get_things("http://claypower.local:8000/"))

</script>


</html>